<template>
    <div class="col-md-4">
            <b-card
                    :title="artist.name"
            >
                <b-card-text>
                    Number of albums: {{artist.album.length}}
                    <b-list-group>
                        <b-list-group-item v-for="album in artist.album" class="d-flex justify-content-between align-items-center">
                            {{album.name}}
                            <b-badge variant="primary" pill>{{album.compositions.length}}</b-badge>
                        </b-list-group-item>
                    </b-list-group>

                </b-card-text>

                <router-link :to="{name: 'artistInfo', query: { id: artist.index }}" class="btn btn-primary">More...</router-link>
            </b-card>
    </div>
</template>

<script>
    export default {
        props: ['artist']
    }
</script>

<style scoped>
.card {
    margin-bottom: 20px;
}
.card-text {
    text-align: left;
}
</style>