<template>
    <div class="content">
        <div class="container">
            <div class="row">
                <Artist
                    v-for="artist in totalArtists"
                    :artist="artist"
            />
            </div>
        </div>
    </div>
</template>

<script>
    import Artist from '../components/artists/ArtistCard.vue'
    import { mapState, mapActions } from 'vuex'
    export default {
        components: { Artist },
        computed: {
            ...mapState(['totalArtists']),
        },
        created () {
            if(!this.totalArtists.length){
                this.GET_ARTISTS();
            }
        },
        methods: {
            ...mapActions(['GET_ARTISTS']),
        }
    }
</script>