<template>
    <div class="content">
        <div class="container">
            <div class="row" v-if="artistInfo">

                <AlbumCard
                        v-for="albumCard in artistInfo.album"
                        :albumCard="albumCard"
                        :artistId="artistInfo.index"
                />
            </div>
        </div>
    </div>
</template>

<script>
    import AlbumCard from '../components/album/AlbumCard.vue'
    import { mapState, mapActions } from 'vuex'
    export default {
        components: { AlbumCard },
        computed: {
            ...mapState(['totalArtists']),
            artistInfo () {
                if(this.totalArtists.length) {
                    return this.totalArtists[this.$route.query.id];
                } else {
                    return false;
                }
            },
        },
        created () {
            if(!this.totalArtists.length){
                this.GET_ARTISTS();
            }
        },
        methods: {
            ...mapActions(['GET_ARTISTS']),
        }
    }
</script>
<style scoped>

</style>





