<template>
    <div class="content">
        <div class="container">
            <div class="row">
                <h1>{{ albumInfo.name }}</h1>
                <p>{{ albumInfo.about }}</p>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Duration</th>
                    </tr>
                    <CompositionsCard
                            v-for="CompositionsCard in albumInfo.compositions"
                            :CompositionsCard="CompositionsCard"
                            :composition="CompositionsCard"
                    />
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import CompositionsCard from '../components/compositions/CompositionsCard.vue'
    import { mapState, mapActions } from 'vuex'
    export default {
        components: { CompositionsCard },
        computed: {
            ...mapState(['totalArtists']),
            albumInfo () {
                if(this.totalArtists.length) {
                    let albumId = this.$route.query.albumId;
                    let album = this.totalArtists[this.$route.query.artistId].album.find(function (elem) {
                        return elem.name === albumId;
                    });
                    return album;
                } else {
                    return false;
                }
            },
        },
        created () {
            if(!this.totalArtists.length){
                this.GET_ARTISTS();
            }
        },
        methods: {
            ...mapActions(['GET_ARTISTS']),
        }
    }
</script>

<style scoped>
    table {
        width: 100%;
    }
    tr {
        border: 1px solid #ccc;
    }
    th {
        padding: 10px;
        border-right: 1px solid #ccc;
    }
</style>