<template>
    <div class="star-rating">
        <label class="star-rating__star" v-for="rating in ratings"
               :class="{'is-selected': ((values >= rating) && values != null), 'is-disabled': disabled}"
               @click="set(rating)"
               @mouseover="star_over(rating)"
               @mouseout="star_out">
            <input class="star-rating star-rating__checkbox" type="radio"
                   :value="rating"
                   v-model="values"
                   :disabled="disabled">
            ★
        </label>
    </div>
</template>

<script>
    import { mapActions } from 'vuex'
    export default {
        name: 'rating',
        props: {
            'value': null,
            'id': String,
            'disabled': Boolean,
            'albumCard': Object,
            'artistId': null,
        },
        data () {
            return {
                values: null,
                temp_value: null,
                ratings: [1, 2, 3, 4, 5]
            };
        },
        created () {
            this.getValue();
        },
        methods: {
            ...mapActions(['SET_RATING']),
            getValue ()  {
                if(this.values === null) {
                    this.values = this.albumCard.rating;
                }
            },
            star_over (index) {
                let self = this;
                    if (!this.disabled) {
                        this.temp_value = this.values;
                        return this.values = index;
                    }
            },
            star_out () {
                let self = this;
                    if (!this.disabled) {
                        return this.values = this.temp_value;
                    }
            },
            set (value) {
                let self = this;
                if (!this.disabled) {
                    this.temp_value = value;
                    this.SET_RATING({rating: value, albumCard: this.albumCard, artistId: this.artistId});
                    return this.values = value;
                }
            },
        },
    }
</script>

<style scoped>
    .star-rating__checkbox {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
    }

    .star-rating__star {
        display: inline-block;
        padding: 3px;
        vertical-align: middle;
        line-height: 1;
        font-size: 1.5em;
        color: #ABABAB;
        transition: color .2s ease-out;
    }
    .star-rating__star:hover {
        cursor: pointer;
    }
    .star-rating__star.is-selected {
        color: #FFD700;
    }
    .star-rating__star.is-disabled:hover {
        cursor: default;
    }

</style>