<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>the beginning</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .center {
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
    <div id="app">

        <loading v-if="loading"></loading>
        <div v-else>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <btn @click.native="deleteMovies" name="Delete"></btn>
                        <btn @click.native="getMovies" name="Download"></btn>
                    </div>
                </div>
            </div>
            <error v-if="error"></error>
            <div class="container" v-else-if="news.length > 0">
                <div class="row">

                    <div class="col-md-12">
                        <input type="text" v-model="search" placeholder="Реактивный поиск..."/>
                        <typemovie v-for="item in movieType" :item="item"></typemovie>
                        <div>Найдено: {{newsLength}} элементов</div>
                    </div>

                    <posts
                            v-for="item in filteredMovies"
                            v-bind:item="item"
                    / >
                </div>
            </div>
            <notfound v-else></notfound>
        </div>
    </div>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="main.js"></script>
</body>
</html>