<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .actorList {
            display: none;
            border: 1px solid #eee;
            margin: 10px 0;
            padding: 10px;
        }
        .active {display: block}
        .tab {
            display: inline-block;
            border: 1px solid #cccccc;
            padding: 3px 5px;
            margin: 5px 5px 0 0;
            cursor: pointer;
        }
        .tabcolor {
            display: inline-block;
            border: 1px solid #cccccc;
            padding: 3px 5px;
            margin: 5px 5px 0 0;
            cursor: pointer;
        }
        .tab.active {
            border: 1px solid #000;
        }
    </style>
</head>
<body>
<div id="app">
        <div v-for="key in tabs" class="tab" @click="index=key.activetab" :class="[index === key.activetab ? 'active' : '']">{{key.name}}</div>
        <div v-for="key in tabs" class="actorList" :class="[index === key.activetab ? 'active' : '']" :style="{background: color}">
            <div v-for="value in key.actors">
                {{value.actor}}
            </div>
        </div>
        <div v-for="key in tabs" class="tabcolor" @click="color=key.color" :style="{background: key.color}">{{key.color}}</div>
</div>
<script src="vue.js"></script>
<script src="script.js"></script>
</body>
</html>