<template>

    <tr>
        <td>{{ composition.id }}</td>
        <td>{{ composition.name }}</td>
        <td>{{ composition.duration }}</td>
    </tr>

</template>

<script>
    export default {
        props: ['composition'],
    }
</script>

<style scoped>
    td {
        padding: 10px;
        border-right: 1px solid #ccc;
    }
</style>