<template>
    <div class="col-md-12">
        <b-card
                :title="albumCard.name"
        >
            <b-card-text>
                <b>About:</b> <br>{{ albumCard.about }}
            </b-card-text>
            <div class="album-info">
                <span>
                    <b>Number of track:</b> {{ albumCard.compositions.length }}
                </span>
                <span>
                    <rating :albumCard="albumCard" :artistId="artistId"></rating>
                </span>
            </div>
            <router-link :to="{name: 'artistAlbum', query: { albumId: albumCard.name, artistId: artistId}}" class="btn btn-primary">More...</router-link>
        </b-card>
    </div>
</template>

<script>
    import rating from '../rating.vue'
    import CompositionsCard from '../compositions/CompositionsCard.vue'
    import { mapState, mapActions } from 'vuex'
    export default {
        props: ['albumCard', 'artistId'],
        components: { CompositionsCard, rating },
        computed: {
            ...mapState(['totalArtists']),

        },
        created () {
        },
        methods: {
            ...mapActions(['GET_ARTISTS']),

        }
    }
</script>

<style scoped>
    .card {
        margin-bottom: 20px;
    }
    .list-group {
        margin-bottom: 20px;
    }
    .album-info {
        display: flex;
        justify-content: space-between;
    }
</style>