<template>
  <div class="home">
    <div class="container">
      <div class="row">
        <h1>Welcome to the artists website</h1>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "home"
  }
</script>

<style scoped>

</style>