<template>
    <div id="router">

        <div class="c-nav">
            <div class="container">
                <router-link to="/">Home</router-link>
                <router-link to="/artist-list">Artist</router-link>
                <router-link to="/about">About</router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Nav"
    }
</script>

<style >
    .c-nav {
        background: #333;
    }
    .c-nav a:hover {
        background: rgba(26, 26, 26, 0.5);
    }
    .c-nav a {
        color: #ffffff;
        text-decoration: none;
        padding: 10px 20px;
        display: inline-block;
    }
    .c-nav a.router-link-exact-active, .c-nav a:hover.router-link-exact-active {
        background: #1a1a1a;
    }
</style>